<div class='jumbotron itineraryJumbotron' style="background-image: url({{photos[0]}})"">
  <div class='container'>
    <h1>{{destination}}</h1>
  </div>
</div>

<div class='itineraryBody'>
  <div class='container'>
      <div class='itinerary col-md-5'>
      <h2>When in {{destination}}...</h2>
      <form class='itineraryForm' ng-submit='addItem()'>
        <input type='text' class="form-control" name='item' type='text' ng-model='itineraryItem'/>
        <button type='submit' class='addEventButton btn btn-default'>Add event</button>
      </form>

      <ul class="list-group checked-list-box">
        <li class="list-group-item todoItem" id='todoListItem{{$index}}' ng-repeat='item in listItems' ng-click='upvote(item)'>
          <input class='itemCheckbox' type="checkbox" ng-click='checkOffItem($index)'/>{{item.text}}
          <span class="badge">{{item.votes}}</span>
        </li>
      </ul>
      </div>
      <div class='col-md-6 col-md-offset-1'>
        <h2>Search Related Images</h2>
        <form class='searchImagesForm' ng-submit='submitQuery()'>
          <label for='imageQuery'>Search for {{destination}} and... </label><input type='text' name='imageQuery' ng-model='imagesQuery'/>
          <button type='submit' class='sendQueryButton'>Search</button>
        </form>
        <img class='featuredPhotos' ng-repeat='photo in photos' src={{photo}}/>
      </div>
  </div>
</div>
